@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}

html,
body {
    height: 100%;
}

body {
    @apply bg-white text-zinc-900 dark:bg-zinc-950 dark:text-zinc-50;
}

* {
    -webkit-tap-highlight-color: transparent;
}